
SQLITE_DB_PATH=./data/users.db
CHROMA_DB_DIR=./data/chroma_db
UPLOAD_DIR=./data/upload
FILE_EXTENSIONS=pdf,txt,md

OLLAMA_DOCKER_URL=http://host.docker.internal:11434
OLLAMA_LOCAL_URL=http://localhost:11434
OLLAMA_MODEL=llama3.2:latest
EMBEDDING_MODEL=BAAI/bge-small-en-v1.5
CHUNK_SIZE=1500
CHUNK_OVERLAP=300

SYSTEM_PROMPT_FILE=config/system_prompt.txt
